* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
    /* width: 100%; */
    min-height: 100vh;
    /* width: 300px; */
    margin: 0px 20px;
}

img{
    display: block;
}

.headers {
    padding: 20px 0px;
}

.logo-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation {
    display: none;
}

.show {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px;
    gap: 8px;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    text-transform: capitalize;
    font-size: 14px;
}

.nav-link a:hover {
    color: #F34839;
}



.hero-img{
    margin: 0px auto;
    width: 100%;
    height: 250px;
}

.hero-img img{
    width: 100%;
    height: 100%;
}


.hero-head{
    width: 290px;
    margin: 20px 0px;
    font-weight: 800;
    font-size: 2.5rem;
    color: hsl(240, 100%, 5%);
}

.line {
    height: 1px;
    background-color: hsl(233, 8%, 79%);
}


.hero-note{
    font-size: 18px;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.hero-cta{
    padding: 10px 40px;
    border: none;
    background-color: hsl(5, 85%, 63%);
    color:hsl(36, 100%, 99%);
    margin-bottom: 50px;
}

.hero-cta:hover{
    background-color: hsl(240, 100%, 5%);
}


.hero-side{
    background-color: hsl(240, 100%, 5%);
    padding: 10px;
    display: grid;
    gap: 15px;
}

.side-head{
    color: hsl(35, 77%, 62%);
    font-weight: 700;
    font-size: 2rem;
    padding: 5px;
}

.side-sub{
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.side-sub:hover{
    color: hsl(35, 77%, 62%);
}

.side-note{
    color: hsl(236, 13%, 42%);
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 15px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 0px;

}

.foot-contain{
    display: flex;
    align-items: center;
    gap: 10px;
}

.foot-img{
    width: 100px;
}

.foot-img img{
    width: 100%;
}

.foot-wrap{
    display: grid;
    gap: 8px;
}

.foot-head, .foot-para{
    color:  hsl(233, 8%, 79%);
}

.foot-sub{
    color: hsl(240, 100%, 5%);
}

.foot-sub:hover{
    color: #F34839;
}





















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media screen and (min-width: 1024px) {


    .headers {
        display: flex;
        justify-content: space-between;

    }

    .hamburger-menu {
        position: absolute;
        left: -999999px;
        background-color: red;
        
    }

    .navigation {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .logo-icon {
        width: fit-content;
    }


    .nav-links-wrap {
        flex-direction: row;
        gap: 20px;
    }

    .nav-link a {
        font-size: 20px;
    }

    .nav-btn {
        font-size: 16px;
    }

    .main{
        display: grid;
        grid-template-columns: 3fr 1fr;
        /* display: flex;
        justify-content: space-between; */
        gap: 20px;
    }

    .hero-img{
        
        width: 100%;
        height: 70%;
    }
    
    .hero-img img{
        width: 100%;
        height: 100%;
    }

    .hero-wrap{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    
    .hero-head{
        width: 100%;
        margin: 8px auto;
        font-weight: 800;
        font-size: 4rem;
        color: hsl(240, 100%, 5%);
    }
    
    
    .hero-note{
        font-size: 20px;
        font-weight: 400;
        color: hsl(236, 13%, 42%);
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    
    .hero-cta{
        padding: 10px 40px;
        border: none;
        background-color: hsl(5, 85%, 63%);
        color:hsl(36, 100%, 99%);
        margin-bottom: 15px;
    }
    
    
    .hero-side{
        background-color: hsl(240, 100%, 5%);
        /* padding: 10px; */
        display: grid;
    }
    
    .side-head{
        color: hsl(35, 77%, 62%);
        font-weight: 700;
        font-size: 2rem;
        padding: 0px;
    }
    
    .side-sub{
        color: hsl(36, 100%, 99%);
        font-weight: 700;
        font-size: 1.5rem;
        padding-bottom: 15px;
    }
    
    .side-note{
        color: hsl(236, 13%, 42%);
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 15px;
    }

    .footer{
        flex-direction: row;
        margin-top: 30px;
    }
}